<div class="modal fade show" style="display:block; background:rgba(0, 0, 0, 0.5)">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">@Title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="Close"></button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <input @bind-value="nameDatabase" type="text" class="form-control" placeholder="@Placeholder">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="Close">Close</button>
                <button type="button" class="btn btn-primary" @onclick="Done">@ButtonText</button>
            </div>
        </div>
    </div>
</div>


@code{
    private string? nameDatabase;
    [Parameter]
    public string? Title { get; set; }
    [Parameter]
    public string? Placeholder { get; set; }
    [Parameter]
    public string? ButtonText { get; set; }
    [Parameter]
    public EventCallback<string> OnCloseCallback { get; set; }
    [Parameter]
    public EventCallback<string> OnDoneCallback { get; set; }


    public async void Done(){
        await InvokeAsync(() => OnDoneCallback.InvokeAsync(nameDatabase));
    }

    public async void Close()
    {
        await InvokeAsync(() => OnCloseCallback.InvokeAsync());
    }
}
