@inherits LayoutComponentBase

<html style="height:100%;">
    <head>
        <link rel="stylesheet" href="css/font-awesome/css/fontawesome.min.css" />
        <script src="css/font-awesome/js/all.min.js"></script>
    </head>
    <body style="height:100%;">
    <div class="page" style="height:100%;">
            <main>
                @Body
            </main>
        </div>

        <div id="blazor-error-ui">
            An unhandled error has occurred.
            <a href="" class="reload">Reload</a>
            <a class="dismiss">🗙</a>
        </div>
    </body>
</html>
