.textAuth[b-c3azvd4yki] {
    color: white;
}

.rightCol[b-c3azvd4yki] {
    height: 100vh;
}

.link[b-c3azvd4yki] {
    opacity: 0.6;
    color: white;
    text-decoration: none;
}

    .link:hover[b-c3azvd4yki] {
        opacity: 1;
    }