.textAuth[b-n6ojxl7dy4] {
    color: white;
}

.rightCol[b-n6ojxl7dy4] {
    height: 100vh;
}

.link[b-n6ojxl7dy4] {
    opacity: 0.6;
    color: white;
    text-decoration: none;
}
.link:hover[b-n6ojxl7dy4]{
    opacity: 1;
}