.buttonNavBar[b-ujyv78trzl] {
    background: rgb(212, 204, 255);
    transition-duration: 0.1s;
    transition-property: background;
}

.buttonNavBar:hover[b-ujyv78trzl] {
    background: rgb(177, 162, 255);
}

.navBarScroll[b-ujyv78trzl] {
    max-height: var(--bs-scroll-height, 87.5vh);
    overflow-y: auto;
}

.trashIcon[b-ujyv78trzl] {
    height: 20px;
    width: 20px;
    color: rgb(200, 200, 200);
    transition-duration: 0.3s;
    transition-property: color, height, width;
}

.trashIcon:hover[b-ujyv78trzl] {
    color: red;
    height: 20.5px;
    width: 20.5px;
}